PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/event_booking_db
JWT_SECRET=super_secret_access_token_key_32bytes_long_string_12345
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN_DAYS=7
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080,http://localhost:5000,http://127.0.0.1:3000
